<!DOCTYPE html>
<html>
  <head>
    <title>retic://<%= id %>.render</title>

    <script type="text/javascript" src="//use.typekit.net/tpa5tbn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" src="/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>

    <script type="text/javascript" src="/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="/js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="/js/noty/layouts/topLeft.js"></script>
    <script type="text/javascript" src="/js/noty/layouts/topRight.js"></script>
    <script type="text/javascript" src="/js/noty/themes/default.js"></script>

    <script type="text/javascript" src="/js/client.js"></script>
    <script type="text/javascript" src="/js/state-renderer.js"></script>

    <link rel="stylesheet" href="/css/state-machine.css" />
    <link rel="stylesheet" href="/css/show.css" />
  </head>

  <body>
    <div id="HUD">
      <div id="display" class="section">
        <img src="/imgs/loader.gif" alt="loader" class="loading">
      </div>

      <div id="control" class="section">
        <input id="state-name" value="..." type="text"
               placeholder="Enter name..." />
        <br />
        <div class="initial-state-name">
          <div>Initial State:</div>
          <label>
            <select id="initial-state-name">
            </select>
          </label>
        </div>

        <div id="state-controls">
          <a class="btn"id="add-state" href="#">&#43; Add a substate</a>
          <a class="btn"id="remove-state" href="#">&#8722; Remove state</a>
          <a class="btn"id="save-fsm" class="dark" href="#">Saved FSM</a>
        </div>
        <div id="event-panel">
          <h3>Event Actions</h3>
          <a class="btn"id="add-event-action" href="#">&#43; Add an event action</a>
          <ul id="event">
          </ul>
          <h3>Enter Actions</h3>
          <a class="btn"id="add-enter-action" href="#">&#43; Add an enter action</a>
          <ul id="enter">
          </ul>
          <h3>Exit Actions</h3>
          <a class="btn"id="add-exit-action" href="#">+ Add an exit action</a>
          <ul id="exit">
          </ul>
        </div>
        <% if (fsmInstanceId) { %>
        <a href="/v1/fsm/<%= id%>/<%= fsmInstanceId%>" target="_blank" id="raw-instance">
          Instance JSON
        </a>
        <% } %>
        <a href="/v1/fsm/<%= id%>" target="_blank" id="raw-json">Raw JSON</a>
      </div>
    </div>

    <script>     
     d3.json("/v1/fsm/<%= id %>", function(error, fsmJson) {
       if (error) return console.warn(error);
       
       var currentStateName; 
       <% if (fsmInstanceId) { %>
         d3.json("/v1/fsm/<%= id %>/<%= fsmInstanceId %>", function(error, json) {
           currentStateName = json.currentStateName;
           displayFsm('#display', fsmJson.fsm, currentStateName, function() {
             d3.select('#display .loading').remove();
           });
         });
         setInterval(function(){
           d3.json("/v1/fsm/<%= id %>/<%= fsmInstanceId %>", function(error, json) {
             if (json.currentStateName !== currentStateName) {
               currentStateName = json.currentStateName;
               resetCurrentStateName(currentStateName);
             }
           })
         }, 1000);
       <% } else { %>
         displayFsm('#display', fsmJson.fsm, currentStateName, function() {
           d3.select('#display .loading').remove();
         });
       <% } %>
     });
    </script>
  </body>
</html>
